<form action="" class="form">
    <div class="row">
        <div class="col-12">
            <label class="sr-only" for="primer_nombre">Primer nombre</label>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="bi bi-fonts"></i></div>
                </div>
                <input type="text" class="form-control" id="primer_nombre" placeholder="Primer nombre">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label class="sr-only" for="segundo_nombre">Segundo nombre</label>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="bi bi-fonts"></i></div>
                </div>
                <input type="text" class="form-control" id="segundo_nombre" placeholder="Segundo nombre">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label class="sr-only" for="primer_app">Primer apellido</label>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="bi bi-fonts"></i></div>
                </div>
                <input type="text" class="form-control" id="primer_app" placeholder="Primer apellido">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label class="sr-only" for="segundo_app">Segundo apellido</label>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="bi bi-fonts"></i></div>
                </div>
                <input type="text" class="form-control" id="segundo_app" placeholder="Segundo apellido">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label class="sr-only" for="semestre">Semestre</label>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="bi bi-123"></i></div>
                </div>
                <select name="" id="semestre" class="form-control">
                    <option value="1">1° semestre</option>
                    <option value="2">2° semestre</option>
                    <option value="3">3° semestre</option>
                    <option value="4">4° semestre</option>
                    <option value="5">5° semestre</option>
                    <option value="6">6° semestre</option>
                    <option value="7">7° semestre</option>
                    <option value="8">8° semestre</option>
                    <option value="9">9° semestre</option>
                    <option value="10">10° semestre</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label class="sr-only" for="carrera">Carrera</label>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="bi bi-123"></i></div>
                </div>
                <select name="" id="carrera" class="form-control">
                    <option value="ISCO">Ingeniería de sistemas</option>
                </select>
            </div>
        </div>
    </div>
</form>