<form action="" class="form">
  <div class="row">
    <div class="col-12">
      <label class="sr-only" for="primer_nombre">Primer nombre</label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="bi bi-fonts"></i></div>
        </div>
        <input
          type="text"
          class="form-control"
          id="primer_nombre"
          placeholder="Primer nombre"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label class="sr-only" for="segundo_nombre">Segundo nombre</label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="bi bi-fonts"></i></div>
        </div>
        <input
          type="text"
          class="form-control"
          id="segundo_nombre"
          placeholder="Segundo nombre"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label class="sr-only" for="primer_app">Primer apellido</label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="bi bi-fonts"></i></div>
        </div>
        <input
          type="text"
          class="form-control"
          id="primer_app"
          placeholder="Primer apellido"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label class="sr-only" for="segundo_app">Segundo apellido</label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="bi bi-fonts"></i></div>
        </div>
        <input
          type="text"
          class="form-control"
          id="segundo_app"
          placeholder="Segundo apellido"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label class="sr-only" for="semestre">Semestre</label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="bi bi-123"></i></div>
        </div>
        <select name="" id="semestre" class="form-select">
          <option value="1">1° semestre</option>
          <option value="2">2° semestre</option>
          <option value="3">3° semestre</option>
          <option value="4">4° semestre</option>
          <option value="5">5° semestre</option>
          <option value="6">6° semestre</option>
          <option value="7">7° semestre</option>
          <option value="8">8° semestre</option>
          <option value="9">9° semestre</option>
          <option value="10">10° semestre</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label class="sr-only" for="carrera">Carrera</label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="bi bi-123"></i></div>
        </div>
        <select name="" id="carrera" class="form-select">
          <option value="ADMN">Administración de Empresas</option>
          <option value="ARQU">Arquitectura</option>
          <option value="BIOG">Biología</option>
          <option value="COMU">Comunicación Social</option>
          <option value="CONT">Contaduría Pública</option>
          <option value="DERC">Derecho</option>
          <option value="DISE">Diseño Gráfico</option>
          <option value="ECON">Economía</option>
          <option value="EDUF">Educación Física</option>
          <option value="ENFE">Enfermería</option>
          <option value="FINZ">Finanzas</option>
          <option value="FISI">Fisioterapia</option>
          <option value="ICHE">Ingeniería química</option>
          <option value="ICIV">Ingeniería civil</option>
          <option value="IECA">Ingeniería electrónica</option>
          <option value="IELE">Ingeniería eléctrica</option>
          <option value="IIDN">Ingeniería industrial</option>
          <option value="IMCA">Ingeniería mecatrónica</option>
          <option value="ISCO">Ingeniería de sistemas</option>
          <option value="LENG">Lenguas Modernas</option>
          <option value="MEDI">Medicina</option>
          <option value="MERC">Mercadeo</option>
          <option value="NUTR">Nutrición y Dietética</option>
          <option value="ODON">Odontología</option>
          <option value="PSIC">Psicología</option>
          <option value="PUBI">Publicidad</option>
          <option value="SOCG">Sociología</option>
          <option value="TRAB">Trabajo Social</option>
          <option value="TURM">Turismo y Hotelería</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-danger btn-lg btn-block mt-2">
        <i class="bi bi-x-circle-fill"></i> Cancelar
      </button>
    </div>
    <div class="col-6">
      <button type="submit" class="btn btn-success btn-lg btn-block mt-2">
        <i class="bi bi-floppy-fill"></i> Matricular
      </button>
    </div>
  </div>
</form>
