<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<app-navbar></app-navbar>
<div class="container-fluid text-center">
    <h1 class="mt-4 mb-4">Mis notas</h1>
    <div>
        <!-- Materias del Alumno -->
        <table class="table text-left">
          <thead>
            <tr>
              <th scope="col">CODE</th>
              <th scope="col">Mat.</th>
              <th scope="col">CRE</th>
              <th scope="col">1C (30%)</th>
              <th scope="col">2C (35%)</th>
              <th scope="col">3C (35%)</th>
              <th scope="col" class="text-center">DEF</th>
              <th scope="col" class="text-center">Observaciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let materia of materias">
              <td class="col-auto">
                {{materia.code}}
              </td>
              <td class="col-md-3">
                {{materia.nombre}}
              </td>
              <td class="col-md-1">
                {{materia.creditos}}
              </td>
              <td class="col-md-1">
                {{materia.nota_1}}
              </td>
              <td class="col-md-1">
                {{materia.nota_2}}
              </td>
              <td class="col-md-1">
                {{materia.nota_3}}
              </td>
              <td class="col-md-2 text-center">
                {{materia.promedio}}
              </td>
              <td class="col-md-2">
                {{materia.obs}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
</div>